<!doctype html>
<html>
  <head>
    <title>A Dog Gif</title>
    <!--<link ref='stylesheets/application.css' type='text/css' />-->
    <style>
      body {
        font-family: "Comic Sans MS", "Comic Sans", cursive;
        width: 60%;
        margin: auto;
        text-align: center;
        text-transform: uppercase;
        color: black;
      }
      
      a {
        text-decoration: none;
      }
      
      a:visited {
        color: black;
      }
      
      #header {
        font-size: 50px;
        font-weight: 200;
        margin: 20px;
      }
      
      #dog_gif {
        /*border-style: solid;*/
        /*border-width: 1px;*/
        /*padding: 70px 20px;*/
        height: 200px;
        width: 300px;
      }
      
      #email {
        font-size: 15px;
        font-weight: 100;
        
      }
    </style>
  </head>
  
  <body>
    <%== yield %>
  </body>
</html>