body {
  font-family: "Comic Sans MS", "Comic Sans", "Chalkboard SE", cursive;
  width: 80%;
  margin: auto;
  text-align: center;
  text-transform: uppercase;
  color: black;
}

a {
  text-decoration: none;
}

a:visited {
  color: black;
}

#header {
  font-size: 50px;
  font-weight: 200;
  margin: 20px;
}

#dog_gif {
  /*border-style: solid;*/
  /*border-width: 1px;*/
  /*padding: 70px 20px;*/
  height: 200px;
  width: 300px;
}

#email {
  font-size: 15px;
  font-weight: 100;
  color: black;
}